@tailwind base;
@tailwind components;
@tailwind utilities;



.left-50 {
    left: 50%;
}

.right-50 {
    right: 50%;
}
.top-50 {
    top: 50%;
}

html {
    scroll-behavior: smooth;
}

.z-1 {
    z-index: -1;
}

.zfront {
    z-index: 1;
}

.secondary-title {
    display: inline;
    font-weight: 700;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */

}

.secondary-title::before {
    content: "";
    @apply block w-28 rounded h-2 bg-theme -mb-7;
    
}





.badge {
    @apply px-4 py-2 text-sm rounded bg-badge;
}

[id] {
    scroll-margin-top: 100px;
}

.left-percentage {
    left: 5%;
}

.h-screen-partial {
    height: 80vh;
}

.nav-dot {
    transition: background 200ms, border-color 200ms;
}

.selected-circle {
    @apply border-theme bg-theme
}

.nav-dot:hover span {
    opacity: 1;
}

.mask1 {
    -webkit-mask-image: linear-gradient(to top, transparent 15%, black 75%);
    mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
  }

  .c {
    color: black;
    font-size: small;
  }
  .m {
    margin-left: -0.5px;
  }

  .c1 {
      color: #B4BEC7;
  }

  .dots {
      color: #782828;
  }

  .image-card {
      @apply w-fit h-[42rem] rounded-lg flex flex-col content-center bg-theme;
  }


  .flip {                 
        transform: scale(-1, 1);
        color: #B4BEC7;
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        display: inline-block;
  }



 input,
 textarea {
     background-color: #782828;
 }

 .scroll-down {
     height: 50px;
     width: 30px;
     /* border: 2px solid #782828; */
    position: absolute;
    left: 50%;
    bottom: 20px;
    cursor: pointer;
    border-radius: 50px;

 }

 .scroll-down::before,
 .scroll-down::after {
     content: "";
     position: absolute;
     top: 20%;
     left: 50%;
     
     height: 10px;
     width: 10px;
     transform: translate(-50%, -100%) rotate(45deg);
     
     animation: scroll-down 1s ease-in-out infinite;
 }

 .scroll-down::after {
    border: 2px solid #B4BEC7;
     top: 30%;
     animation-delay: .3s;
     border-top: transparent;
     border-left: transparent;
 }

 .scroll-down::before {
    border: 2px solid #782828;
    border-top: transparent;
     border-left: transparent;
 }




 @keyframes scroll-down {
     0%{
         opacity: 0;
     }
     30%{ 
         opacity: 1;
     }
     60%{
         opacity: 1;
     }
     100%{
         opacity: 1;
         top: 90%;
     }
     
 }